#layout-nav {
  .navbar-brand {
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
    text-align: center;
    position: relative;

    .logo {
      max-height: 100%;
      object-fit: center;
    }

    h4 {
      font-size: 14px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}